<!-- <div class="container-fluid headerTitle text-center pt-2 pb-2"  style="background-color: lightgray;">
  <span class="small pr-4">Support help@carwash.com</span><span class="small pr-4 pl-2">Claims 1800-123-4567 </span><span class="pr-4 small">Sales 1800-123-4567</span> 
</div> -->








<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-image: linear-gradient(to right top, #f4fcfc, #eefcfc, #e9fcfc, #e3fcfc, #ddfcfc);">
    <a class="navbar-brand" style="margin-left: 5%; color:rgba(31, 180, 122, 1); ">SUPER CAR WASH</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" style="color: black;" >HOME <span class="sr-only">(current)</span></a>
        </li>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"  style="color: black" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ABOUT US
          </a>
          <div class="dropdown-menu" style="background-color:whitesmoke;" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#" routerLink='/concept'>Concept</a>
            <a class="dropdown-item" href="#" routerLink='/whysuper'>Why Super car Wash</a>
            <a class="dropdown-item" href="#" routerLink='/team'>Team</a>
            <a class="dropdown-item" href="#" routerLink='/keybenefit'>Key Benefits</a>
            <a class="dropdown-item" href="#" routerLink='/blog'>Blog</a>
            
          </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" routerLink='/services' style="color:rgba(31, 180, 122, 1);" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              SERVICES
            </a>
            <div class="dropdown-menu" style="background-color:whitesmoke;" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#" routerLink='/cleaningprocess'>Cleaning Process</a>
              <a class="dropdown-item" href="#" routerLink='/carwashprogram'>Car wash Programs</a>
              
              
              
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#" routerLink='/opti' style="color: black">OPTI-COAT <span class="sr-only">(current)</span></a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" routerLink='/team' style="color: yellow;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              SUPER SPECIALS
            </a>
            <div class="dropdown-menu" style="background-color:yellow;" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#" routerLink='/team'>Team</a>
              <a class="dropdown-item" href="#" routerLink='/team'>Refer Friends </a>
              <a class="dropdown-item" href="#" routerLink='/news'>News</a>
              
              
            </div>
          </li> -->
          <li class="nav-item active">
            <a class="nav-link" href="#" routerLink='/team'  routerLink='/book' style="color: rgba(31, 180, 122, 1)" > BOOK CAR WASH <span class="sr-only">(current)</span></a>
          </li>
       
      </ul>
    </div>
  </nav>
