.t1{
 
    color: gray;
    font-size: 11px;
    /* background-color: green; */
    line-height: 0.1;
    }
   
    .t2{
   
   
        background-color: black;
       
    }
    .t3{
   
        color:red
        ;
        font-size: 15px;
    }
    .t8{
        line-height: 5.8;
        color:white;
   
    }
.t0{
 
    color: red;
}
 
 
    /* .t9{
   
        color: gray;
    font-size: 11px;
        line-height: 0.1;
    }
    .a1{
   
        color: gray;
    font-size: 11px;
   
   
    } */