<footer class="page-footer font-small blue-grey lighten-5 footColor footer t2">
 
 
    <div style="color:gray;" >
        <!-- <a class="fb-ic" >
            <i class="fab fa-facebook-f white-text mr-4" > </i>
        </a> -->
 
        <!-- <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
        </a> -->
 
        <!-- <a class="gplus-ic">
            <i class="fab fa-youtube white-text mr-4"> </i>
        </a> -->
 
       
 
        <a class="ins-ic">
            <i class="fas fa-wifi white-text"> </i>
        </a>
    </div>
 
 
 
           
        <div class="row pt-4 mt-2 ml-5 mr-5 white-text">
 
   
    <div class="main_div container-fluid text-center text-md-left mt-1 mr-5 ml-5" >
       
    <div class="main_div container-fluid text-center text-md-left mt-1 mr-5 ml-7">
 
 
 
        <div class="row mt-2 dark-grey-text">
 
 
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
 
                <h6 class="text-uppercase font-weight-bold" class="t3">About Us</h6>
                <hr class="teal accent-3 mb-2 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a style="color: white" href="http://localhost:4200/concept">Concept</a>
                </p>
                <p>
                    <a style="color: white" href="http://localhost:4200/whysuper">Why Super Car wash</a>
                </p>
                <p>
                    <a style="color: white" href="http://localhost:4200/team">Team</a>
                </p>
                <p>
                    <a style="color: white" href="http://localhost:4200/keybenefit">Key Benefit</a>
                </p>
                <p>
                    <a style="color: white" href="http://localhost:4200/blog">Blog</a>
                </p>
               
 
 
            </div>
 
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4" >
 
 
                <h6 class="text-uppercase font-weight-bold" class="t3">Services</h6>
                <hr class="teal accent-3 mb-2 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a style="color: white" href="http://localhost:4200/cleaningprocess">Cleaning Process</a>
                </p>
                <p>
                    <a style="color: white" href="http://localhost:4200/carwashprogram">Car Wash Program</a>
                </p>
               
             
 
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-2" >
 
 
                <h2 style="color:red; font-size: 18px;">follow us</h2>
                <p style="color:white; line-height: 25px;">please follow us on our social media profile in order to keep updated.</p>
                <a href="https://www.facebook.com/SUPERCARWASHVIJ/" style="padding-right:5px; width: 40px; height: 40px; display: inline-block; border-radius: 50%;"><i class="fa fa-facebook" style="font-size: 20px; color: #fff; padding: 10px 12px;"></i></a>
                <a href="https://twitter.com/supercarwashmi?lang=en" style="padding-right:5px; width: 40px; height: 40px; display: inline-block; border-radius: 50%;"><i class="fa fa-twitter" style="font-size: 20px; color: #fff; padding: 10px 12px;"></i></a>
                <a href="https://in.linkedin.com/company/super-car-wash" style="padding-right:5px; width: 40px; height: 40px; display: inline-block; border-radius: 50%;"><i class="fa fa-linkedin" style="font-size: 20px; color: #fff; padding: 10px 12px;"></i></a>
                <a href="https://in.pinterest.com/" style="padding-right:5px; width: 40px; height: 40px; display: inline-block; border-radius: 50%;"><i class="fa fa-pinterest" style="font-size: 20px; color: #fff; padding: 10px 12px;"></i></a>
 
            </div>
 
           
 
 
 
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-2">
 
 
                <h6 class="text-uppercase font-weight-bold" class="t3">Super Special</h6>
                <hr class="teal accent-3 mb-2 mt-0 d-inline-block mx-auto" style="width: 60px;" >
 
                <p>
                    <a style="color: white" href="http://localhost:4200/opti">Opti-Coat</a>
                </p>
 
           
 
            <form>
                <div class="form-row align-items-center">
                    <div class="input-group">
                        <input type="text" class="form-control" style="font-weight:20 ; font-size: 13px;   border-radius: 20px 0px 0px 20px;" id="inlineFormInputGroupUsername" placeholder="Your E-mail Address">
                      <div class="input-group-prepend">
                        <div class="input-group-text" style="background-color: orange; width: 50px; border-radius:0px 20px 20px 0px ;"></div>
                      </div>
                    </div>
                  </div>
                 
               
              </form>
 
            </div>
  </div>
 
    </div>
    </div>
        </div>
 
 
 
 
        <div style="color:gray;" >
            <!-- <a class="fb-ic">
                <i class="fab fa-facebook-f white-text mr-4" > </i>
            </a> -->
   
            <!-- <a class="tw-ic">
                <i class="fab fa-twitter white-text mr-4"> </i>
            </a>
    -->
            <!-- <a class="gplus-ic">
                <i class="fab fa-youtube white-text mr-4"> </i>
            </a>
    -->
           
   
            <a class="ins-ic">
                <i class="fas fa-wifi white-text"> </i>
            </a>
        </div>
   
    <div class="footer-copyright text-center text-gray-50 py-3 " style="color: white;">Copyright:
        <a style="color: red" href="#!">SuperCar Wash</a>
    </div>
   
   
</footer>
