<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <img src="../../assets/images/new.jpg" width="1140" style="margin-left: -15px;">
        </div>
    </div>
</div>
<video autoplay muted loop id="myVideo">
    <source src="../../assets/images/Opti-Coat M-Wash feat. Hyper Seal.mp4" type="video/mp4">
  </video>
  <div class="container">
      <div class="row">
    <div class="col-md-12">
        <h2 style="margin-left: 5%;">Opti Coat: Omg! The Best Ceramic Car Coating Ever!</h2>
        <p style="margin-left: 5%;">The term ceramic coating is a revolutionary detailing product used for protecting the vehicle’s surface from all sorts of 
            scratches and blemish-causing factors. Mainly composed of silica dioxide forms a covalent bond that is hydrophobic
             in nature and creates a nano-ceramic shield above the vehicle’s factory paint. This protective shield gives durable 
             protection from all types of external factors including road salts, insect acids, oxidation, bird droppings, minor scratches,
              oxidation and helps in protecting the vehicle from damaging sun rays. It’s the features, along with hydrophobicity,
             which separates ceramic car coating (Opti Coat) from other sealants and waxes.</p>
    </div>
</div>
      <div class="row">
          <div class="col-md-8">
              <h2 style="margin-left:7%;">Keep Your Car Safe with Opti Coat (Ceramic Coating)</h2>
              <p style="margin-left: 7%;">Are you afraid of rust build-up on the outer and under surface of your car? You need to ask the car detailing services to apply 
                  the Ceramic Coating on your car’s body and under-chassis area.</p>
                  <p style="margin-left: 7%;">This car coating once cured; it is measured with 9H hardness. Normal car coating like Teflon coating
                   possess hardness between 2H and 4H. The enhanced hardness of ceramic-coated surface is higher than these. 
                   This makes it the hardest coating on the factory coating in the auto care market. This new shield prevents
                    all sorts of external damages like blemishes, scratches and swirl marks and pretends as the sacrificial layer. 
                    This prevents normal factory paint. Any small and minor scratches which happen in ceramic paint can be easily removed
                     with slight polishing that will not hamper the original clear coat integrity. Teflon coating for the car can easily fade
                      with external factors like changing temperature, 
                  UV rays, and rain but this is not the case with ceramic car coating.</p>
                  <p style="margin-left: 7%;">The term ceramic car coating is most familiar to all car enthusiasts and owners. Most of them even get it 
                      on factory paint while taking it out of the showroom. Most of the people also research for ceramic 
                      coating price and compare it to other car coatings. Yes, it is sure that Teflon
                       coating for car price is lower than the price of ceramic car coating.</p>
          </div>
          <div class="col-md-4">
            <img src="../../assets/images/op1.jpg" width="400">
              
          </div>

      </div>
      <div class="row">
          <div class="col-md-7">
              <h2 style="margin-left: 7%;">Why Invest in Opti Coat Ceramic Car Coating?</h2>
              <p style="margin-left: 7%;">Getting a car is really a heavy investment that matters to you by affecting your pocket. 
                  You require to protect this investment with the best products available in the market.
                   You definitely know that vehicle demands superior care. Experts recommend optimal performance
                    for protecting vehicle to an extreme level. Opti Coat ceramic coating for car and it’s all
                     product lines are strictly designed to deliver
                   “The Ultimate™” complete vehicle protection.</p>
          </div>
      </div>
      <div class="row">
          <div class="col-md-5">
              <img src="../../assets/images/op2.jpg" width="474" style="margin-left: -15px;">
          </div>
          <div class="col-md-7">
              <p>Ceramic car coating is to deliver car owners with ultimate car care protections which enhances the look and feel of 
                  the vehicles and also extends the durability of automotive surfaces for maximizing the vehicle’s resale value and driving a pleasure. 
                  Furthermore, the ceramic coating is safer on customer and environment than Teflon coating.</p>
                  <h2>Opti Coat Powered by SiC™ Makes It Best Ceramic Car Coating:</h2>
                  <p>The main function of ceramic car coating is to add protection to factory paint of a vehicle where it is professionally applied. TiO2 and SiO2 based resin
                       diminish over a certain time. The degradation and hydrolysis of TiO2 and SiO2 based resins are easily 
                       accelerated using high pH products and low pH cleaners. By eliminating the oxygen group and professionally using SiC linkages as strong polymer backbone, the ceramic car coating is unaffected by high or low pH levels and resistant to sun UV breakdown. Thus, this ceramic coating provides the best protective features to the vehicle’s finishes. This car coating was developed and tested for hardness, longevity, UV resistance, chemical resistance, 
                      scratch resistance, and gloss levels and passed through all the tests.</p>
                      <h2>How Opti Coat Ceramic Coating Brings Difference to the Vehicle:</h2>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <p>Your vehicle deserves the best care and
                   that why most of the car owners look for 
                   an auto detailing market. This is the reason why car owners globally choose Opti Coat
                    ceramic car coating over other car coatings likes Teflon Coating. They trust Opti Coat ceramic car 
                    coating to consistently deliver unmatched protection, brilliance, and hardness.

            </p>
          </div>
      </div>
      <div class="row">
          <div class="col-md-7">
              <p>
                Professional application of Opti Coat ceramic coating exhibits extremely durable glossiness that protects exterior surfaces of the vehicle 
                including metal, paint, stainless steel, wheels and plastics. This ceramic coating is a permanent
                 coating that actually turns into a functional surface of the paintwork of vehicles. By forming an inseparable bond at the molecular level with the paintwork,
                 you avail a car coating that is not easily washed off just like Teflon coating.</p>
                 
                 <h2>Ceramic Car Coating Benefits and Features:</h2>
                 <ul>
                     <li style="font-weight: bold;">Protection from Harmful External Factors:</li>
                     <p>Extending from road salts, sands, stone chips, dirt, dust to insects’ contaminants, UV rays damage and moisture, your car a
                         nd other vehicles are vulnerable to various types of corrosive elements. 
                         In bonding with the substrate, Opti Coat 
                         ceramic coating delivers a shield that can’t be easily washed off.</p>
                 </ul>
                 <ul>
                    <li style="font-weight: bold;">Long-Lasting Beauty with Less Maintenance:</li>
                    <p>The unique formulation of Opti Coat protection delivers long-lasting beauty by keeping the
                         painted surface clean and retaining back the high gloss. Ceramic coating greatly reduces the effort
                         and time spent on caring for and maintaining the vehicle.</p>
                </ul>
                <ul>
                    <li style="font-weight: bold;">UV Rays Protection:</li>
                    <p>The direct rays of the sun directly harm the look and feel of vehicles. 
                        They can lead to corrosion of the metal surface.
                         In that case, ceramic coating delivers maximum protection against UV rays.</p>
                </ul>
          </div>
          <div class="col-md-5">
              <img src="../../assets/images/op3.jpg" width="500" style="margin-top: 3%;">
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <h2>Teflon Coating through Car Detailing Services</h2>
              <p>The PTFE paint sealants for the cars are commonly known as 
                  Teflon coatings. The Teflon contains fluoropolymer. This material is 
                  known for its anti-rusting properties. The transparent Teflon coating will protect the painted finish
                   of your car and will let her shine brilliantly. It will also keep the corrosive attacks at bay and will 
                   preserve the resell value of your car. The protection of this anti-corrosive material will remain same in any 
                   temperature or weather. The reputed car detailing services of India will attest to the usefulness of Teflon.

            </p>
          </div>
      </div>

  </div>