<div class="container-fluid" style="background-color: black;">
    <div class="row">
        <div class="col-md-12">
            <div class="demo-content" style="padding: 25px; text-align: center; color:rgba(31, 180, 122, 1);; font-size: 40px; background-color: black;">
                Key Beneifts
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12" style="border: 1px solid gray; background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);" >
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-8" style="border: 1px solid black; margin-left: 14%; margin-top: 3%; background-color: whitesmoke;">
                                    <p style="margin-top: 5%;">Nationwide chain of car wash units</p>
                                </div>
                            </div>
                            

                        </div>
                        <div class="col-md-6" >
                            <div class="row">
                                <div class="col-md-8" style="border: 1px solid black; margin-left: 23%; margin-top: 3%; background-color: whitesmoke;">
                                    <p style="margin-top: 5%;">Professional car cleaning</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-8" style="border: 1px solid black; margin-top: 4%; margin-left: 14%; background-color: whitesmoke;">
                                    <p style="margin-top: 5%;">Just in 20 minutes</p>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-8" style="border: 1px solid black; margin-left: 23%; margin-top: 3%; background-color: whitesmoke;">
                                    <p style="margin-top: 2%;">Underbody cleaning-no gantry lift, which saves time and money</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-8" style="border: 1px solid black; margin-left: 14%; margin-top: 3%; background-color: whitesmoke;">
                                    <p style="margin-top: 5%;">Cleaning with reliable world class machines</p>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-8" style="border: 1px solid black; margin-left: 23%; margin-top: 3%; background-color: whitesmoke;">
                                    <p style="margin-top: 5%;">Eco-friendly chemicals for cars</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-8" style="border: 1px solid black; margin-left: 14%; margin-top: 4%; background-color: whitesmoke;">
                                    <p style="margin-top: 5%;">Engine hot water / steam wash</p>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-8" style="border: 1px solid black; margin-left: 23%; margin-top: 3%; background-color: whitesmoke;">
                                    <p style="margin-top: 5%;">Polished car at the end of wash with liquid wax (Euro Std.)</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-8" style="border: 1px solid black;  margin-left: 14%; margin-top: 3%; background-color: whitesmoke;">
                                    <p style="margin-top: 5%;">No physical rubbing or wiping on car body</p>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-8" style="border: 1px solid black; margin-left: 23%; margin-top: 3%; background-color: whitesmoke;">
                                    <p style="margin-top: 5%;">Well defined process of car cleaning</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-8" style="border: 1px solid black;  margin-left: 14%; margin-top: 5%; background-color: whitesmoke;">
                                    <p style="margin-top: 5%;">Hassle-free cleaning service for customers</p>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-8" style="border: 1px solid black; margin-left: 23%; margin-top: 3%; background-color: whitesmoke;">
                                    <p style="margin-top: 5%;">Cost-effective solution for cleaning cars (value for money)</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-8" style="border: 1px solid black;  margin-left: 14%; margin-top: 3%; background-color: whitesmoke;">
                                    <p style="margin-top: 5%;">Tailor-made ERP, CRM software</p>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-8" style="border: 1px solid black; margin-left: 23%; margin-top: 3%; background-color: whitesmoke;">
                                    <p style="margin-top: 5%;">Guaranteed 100% satisfaction!</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-8" style="border: 1px solid black;  margin-left: 14%; margin-top: 3%; margin-bottom: 5%; background-color: whitesmoke;">
                                    <p style="margin-top: 5%;">Attention to detail work philosophy</p>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-8" style="border: 1px solid black;  margin-left: 23%; margin-top: 3%; background-color: whitesmoke;">
                                    <p style="margin-top: 5%;">The first car wash & detailing app</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem; margin-left: 28%; margin-top: 15%; border-color: black; background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h3 class="card-title">About US  <svg class="bi bi-arrow-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4.646 9.646a.5.5 0 01.708 0L8 12.293l2.646-2.647a.5.5 0 01.708.708l-3 3a.5.5 0 01-.708 0l-3-3a.5.5 0 010-.708z" clip-rule="evenodd"/>
                    <path fill-rule="evenodd" d="M8 2.5a.5.5 0 01.5.5v9a.5.5 0 01-1 0V3a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                  </svg></h3>
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                  <hr style="border-color:black">
                </div>
                <a href="http://localhost:4200/concept" class="btn btn-primary" style="margin-top: 5%; margin-left: 13%; background-color: black; color: rgba(31, 180, 122, 1); width: 200px;">Concept</a>
                <a href="http://localhost:4200/whysuper" class="btn btn-primary" style="margin-top: 5%; margin-left: 13%; background-color: black; color: rgba(31, 180, 122, 1); width: 200px;">Why Super Car wash</a>
                <a href="http://localhost:4200/team" class="btn btn-primary" style="margin-top: 5%; margin-left: 13%; background-color: black; color:rgba(31, 180, 122, 1); width: 200px;">Team</a>
                <a href="http://localhost:4200/keybenefit" class="btn btn-primary" style="margin-top: 5%; margin-left: 13%; background-color: black; color: rgba(31, 180, 122, 1); width: 200px;"> Key Benefits</a>
                <a href="http://localhost:4200/blog" class="btn btn-primary" style="margin-top: 5%; margin-left: 13%; background-color: black; color: rgba(31, 180, 122, 1); width: 200px; margin-bottom: 10%;"> Blog</a>
               
              </div>
        </div>
    </div>
</div>

