.color
{
    box-sizing: border-box;
    margin-left:45%;
    padding: 0;
    font-size:30px;
    color:yellow; 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    

    
}
