<img src="../../assets/images/e7a9a5ac13a93b3aa8541d1492c612c4.jpg" width="1519" height="400">
<div class="container-fluid" style="background-color: black;">
    <div class="row">
        <div class="col-md-12">
            <div class="demo-content" style="padding: 25px; text-align: center; color:rgba(31, 180, 122, 1);; font-size: 40px; background-color: black;">
                BEST CAR DRY CLEANING PROCESS
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6" style="border:1px solid black;  background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);" >
                    <img src="../../assets/images/high-pressure-icon.jpg" style="margin-left: 35%; margin-top: 2%;">
                     <h6 style="margin-left: 12%;">High pressure wash with the best accessories</h6>

                </div>
                <div class="col-md-6" style="border: 1px solid black;  background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                    <img src="../../assets/images/polish-icon.png" style="margin-left: 45%; margin-top: 1%;">
                    <h6 style="margin-left: 25%; margin-top:1%"> Dashboard cleaning & polishing </h6>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="border: 1px solid black;  background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                    <img src="../../assets/images/engine-wash1.png" style="margin-left: 35%; margin-top: 2%;">
                     <h6 style="margin-left: 12%; margin-top: 1%;">Engine Cleaning with hot water /
                        steam car wash</h6>

                </div>
                <div class="col-md-6" style="border: 1px solid black;  background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                    <img src="../../assets/images/dash-board-icon.png" style="margin-left: 45%; margin-top: 1%;">
                    <h6 style="margin-left: 25%; margin-top:2%">  Proper cleaning & drying of Foot mats  </h6>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="border: 1px solid black;  background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                    <img src="../../assets/images/bodywash.png" style="margin-left: 35%; margin-top: 2%;">
                     <h6 style="margin-left: 12%; margin-top: 1%;"> Body wash with Foam (Euro std.) </h6>

                </div>
                <div class="col-md-6" style="border: 1px solid black;  background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                    <img src="../../assets/images/engine-wash.png" style="margin-left: 45%; margin-top: 1%;">
                    <h6 style="margin-left: 25%; margin-top:2%">   Cleaning of air vents and ash tray cleaning   </h6>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="border: 1px solid black;  background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                    <img src="../../assets/images/tyre.png" style="margin-left: 35%; margin-top: 2%;">
                     <h6 style="margin-left: 12%; margin-top: 1%;">  Underbody/ Tyre arches cleaning without gantry/lift with high pressure without disturbing wheel balance & alignment   </h6>

                </div>
                <div class="col-md-6" style="border: 1px solid black;  background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                    <img src="../../assets/images/polish-icon (1).png" style="margin-left: 45%; margin-top: 1%;">
                    <h6 style="margin-left: 25%; margin-top:2%">   In the end, the car body will be sprayed with liquid wax (Euro std.) for a shiny surface and to protect the body from dirt / dust    </h6>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="border: 1px solid black;  background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                    <img src="../../assets/images/foot-mats.png" style="margin-left: 35%; margin-top: 2%;">
                     <h6 style="margin-left: 12%; margin-top: 1%;">  Internal cleaning with suction vacuum using a special car tool (Air blow cleaning, a method banned by Govt. of India)   </h6>

                </div>
                <div class="col-md-6" style="border: 1px solid black;  background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                    <img src="../../assets/images/mirrors-wash.png" style="margin-left: 45%; margin-top: 1%;">
                    <h6 style="margin-left: 25%; margin-top:2%">    Inside out cleaning of windows & mirrors    </h6>

                </div>
            </div>


        </div>
        <div class="col-md-4" style="background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
            <div class="card" style="width: 18rem; margin-left: 28%; margin-top: 15%; border-color: black; background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h3 class="card-title">About US  <svg class="bi bi-arrow-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4.646 9.646a.5.5 0 01.708 0L8 12.293l2.646-2.647a.5.5 0 01.708.708l-3 3a.5.5 0 01-.708 0l-3-3a.5.5 0 010-.708z" clip-rule="evenodd"/>
                    <path fill-rule="evenodd" d="M8 2.5a.5.5 0 01.5.5v9a.5.5 0 01-1 0V3a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                  </svg></h3>
                 
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                  <hr style="border-color:black">
                </div>
                <a href="http://localhost:4200/cleaningprocess" class="btn btn-primary" style="margin-top: 5%; margin-left: 13%; background-color: black; color: rgba(31, 180, 122, 1); width: 200px;">Cleaning Process</a>
                <a href="http://localhost:4200/carwashprogram" class="btn btn-primary" style="margin-top: 5%; margin-left: 13%; margin-bottom: 15%; background-color: black; color: rgba(31, 180, 122, 1); width: 200px;">Car Wash Programs</a>
               
                
               
              </div>
            
        </div>
    </div>

</div>
