<img src="../../assets/images/car-wsh-prgrms.jpg" width="1519" height="250">
<div class="container-fluid" style="background-color: black;">
    <div class="row">
        <div class="col-md-12">
            <div class="demo-content" style="padding: 25px; text-align: center; color:rgba(31, 180, 122, 1);; font-size: 40px; background-color: black;">
                CAR WASH DRY CLEANING PROGRAMS
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12" style="border: 1px solid chocolate; background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                    <h5 style="text-align: center; margin-top: 1%;">Super Car Wash 1</h5>
                </div>
                <div class="col-md-6" style="border:1px solid black;  background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);" >
                    <!-- <img src="../../assets/images/high-pressure-icon.jpg" style="margin-left: 35%; margin-top: 2%;"> -->
                     <h6 style="margin-left: 10%; margin-top: 4%;">Complete vacuuming of cars including seats & boot</h6>

                </div>
                <div class="col-md-6" style="border: 1px solid black;  background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                    <!-- <img src="../../assets/images/polish-icon.png" style="margin-left: 45%; margin-top: 1%;"> -->
                    <h6 style="margin-left: 25%; margin-top:4%"> Underbody Wash </h6>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="border: 1px solid black;  background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                    <!-- <img src="../../assets/images/engine-wash1.png" style="margin-left: 35%; margin-top: 2%;"> -->
                     <h6 style="margin-left: 10%; margin-top: 1%;">Washing & cleaning of foot mats</h6>

                </div>
                <div class="col-md-6" style="border: 1px solid black;  background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                    <!-- <img src="../../assets/images/dash-board-icon.png" style="margin-left: 45%; margin-top: 1%;"> -->
                    <h6 style="margin-left: 25%; margin-top:2%">  Engine hot water / steam wash </h6>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="border: 1px solid black;  background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                    <!-- <img src="../../assets/images/bodywash.png" style="margin-left: 35%; margin-top: 2%;"> -->
                     <h6 style="margin-left: 10%; margin-top: 1%;"> Pre washing of car </h6>

                </div>
                <div class="col-md-6" style="border: 1px solid black;  background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                    <!-- <img src="../../assets/images/engine-wash.png" style="margin-left: 45%; margin-top: 1%;"> -->
                    <h6 style="margin-left: 25%; margin-top:2%">   Cleaning of air vents and ash tray cleaning   </h6>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="border: 1px solid black;  background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                    <!-- <img src="../../assets/images/tyre.png" style="margin-left: 35%; margin-top: 2%;"> -->
                     <h6 style="margin-left: 10%; margin-top: 1%;"> Washing & cleaning of door frames   </h6>

                </div>
                <div class="col-md-6" style="border: 1px solid black;  background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                    <!-- <img src="../../assets/images/polish-icon (1).png" style="margin-left: 45%; margin-top: 1%;"> -->
                    <h6 style="margin-left: 25%; margin-top:2%">  Foam cleaning of car exterior   </h6>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="border: 1px solid black;  background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                    <!-- <img src="../../assets/images/foot-mats.png" style="margin-left: 35%; margin-top: 2%;"> -->
                     <h6 style="margin-left: 10%; margin-top: 1%;">  Body liquid polishing / waxing   </h6>

                </div>
                <div class="col-md-6" style="border: 1px solid black;  background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                    <!-- <img src="../../assets/images/mirrors-wash.png" style="margin-left: 45%; margin-top: 1%;"> -->
                    <h6 style="margin-left: 25%; margin-top:2%">    Inside out cleaning of windows & mirrors    </h6>

                </div>
                <div class="col-md-6" style="border: 1px solid black;  background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                    <!-- <img src="../../assets/images/mirrors-wash.png" style="margin-left: 45%; margin-top: 1%;"> -->
                    <h6 style="margin-left: 10%; margin-top:2%">Tyre Arches Cleaning</h6>

                </div>
                <div class="col-md-6" style="border: 1px solid black;  background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                    <!-- <img src="../../assets/images/mirrors-wash.png" style="margin-left: 45%; margin-top: 1%;"> -->
                    <h6 style="margin-left: 25%; margin-top:2%"> Cleaning & polishing of dashboard  </h6>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="border: 1px solid chocolate; background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                    <h5 style="text-align: center; margin-top: 1%;">Super Car Wash 2</h5>
                </div>
                <div class="col-md-6" style="border:1px solid black;  background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);" >
                    <!-- <img src="../../assets/images/high-pressure-icon.jpg" style="margin-left: 35%; margin-top: 2%;"> -->
                     <h6 style="margin-left: 10%; margin-top: 4%;">Complete vacuuming of cars including seats & boot</h6>

                </div>
                <div class="col-md-6" style="border: 1px solid black;  background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                    <!-- <img src="../../assets/images/polish-icon.png" style="margin-left: 45%; margin-top: 1%;"> -->
                    <h6 style="margin-left: 25%; margin-top:4%"> Body liquid polishing / waxing </h6>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="border: 1px solid black;  background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                    <!-- <img src="../../assets/images/engine-wash1.png" style="margin-left: 35%; margin-top: 2%;"> -->
                     <h6 style="margin-left: 10%; margin-top: 1%;">Washing & cleaning of foot mats</h6>

                </div>
                <div class="col-md-6" style="border: 1px solid black;  background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                    <!-- <img src="../../assets/images/dash-board-icon.png" style="margin-left: 45%; margin-top: 1%;"> -->
                    <h6 style="margin-left: 25%; margin-top:2%"> Polishing of dashboard</h6>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="border: 1px solid black;  background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                    <!-- <img src="../../assets/images/bodywash.png" style="margin-left: 35%; margin-top: 2%;"> -->
                     <h6 style="margin-left: 10%; margin-top: 1%;"> Pre washing of car </h6>

                </div>
                <div class="col-md-6" style="border: 1px solid black;  background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                    <!-- <img src="../../assets/images/engine-wash.png" style="margin-left: 45%; margin-top: 1%;"> -->
                    <h6 style="margin-left: 25%; margin-top:2%">   Alloy cleaning  </h6>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="border: 1px solid black;  background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                    <!-- <img src="../../assets/images/tyre.png" style="margin-left: 35%; margin-top: 2%;"> -->
                     <h6 style="margin-left: 10%; margin-top: 1%;"> Foam cleaning of car exterior   </h6>

                </div>
                <div class="col-md-6" style="border: 1px solid black;  background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                    <!-- <img src="../../assets/images/polish-icon (1).png" style="margin-left: 45%; margin-top: 1%;"> -->
                    <h6 style="margin-left: 25%; margin-top:2%"> Tyre arches cleaning  </h6>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="border: 1px solid black;  background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                    <!-- <img src="../../assets/images/foot-mats.png" style="margin-left: 35%; margin-top: 2%;"> -->
                     <h6 style="margin-left: 10%; margin-top: 1%;"> Car Perfume Spray  </h6>

                </div>
                <div class="col-md-6" style="border: 1px solid black;  background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                    <!-- <img src="../../assets/images/mirrors-wash.png" style="margin-left: 45%; margin-top: 1%;"> -->
                    <h6 style="margin-left: 25%; margin-top:2%">   Underbody Wash   </h6>

                </div>
                <div class="col-md-6" style="border: 1px solid black;  background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                    <!-- <img src="../../assets/images/mirrors-wash.png" style="margin-left: 45%; margin-top: 1%;"> -->
                    <h6 style="margin-left: 10%; margin-top:2%">Spraying chemical on the windshield to make it scratch proof</h6>

                </div>
                <div class="col-md-6" style="border: 1px solid black;  background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                    <!-- <img src="../../assets/images/mirrors-wash.png" style="margin-left: 45%; margin-top: 1%;"> -->
                    <h6 style="margin-left: 25%; margin-top:2%"> Engine hot water / steam wash  </h6>

                </div>
                <div class="col-md-6" style="border: 1px solid black;  background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                    <!-- <img src="../../assets/images/mirrors-wash.png" style="margin-left: 45%; margin-top: 1%;"> -->
                    <h6 style="margin-left: 10%; margin-top:2%"> All black parts to be polished  </h6>

                </div>
                <div class="col-md-6" style="border: 1px solid black;  background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                    <!-- <img src="../../assets/images/mirrors-wash.png" style="margin-left: 45%; margin-top: 1%;"> -->
                    <h6 style="margin-left: 25%; margin-top:2%"> Washing & cleaning of door frames </h6>

                </div>
            </div>
           


        </div>
        <div class="col-md-4" style="background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
            <div class="card" style="width: 18rem; margin-left: 28%; margin-top: 15%; border-color: black; background-image: linear-gradient(to right top, #43e58b, #74eba8, #9cf0c2, #c2f4da, #e7f7ef);">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h3 class="card-title">About US  <svg class="bi bi-arrow-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4.646 9.646a.5.5 0 01.708 0L8 12.293l2.646-2.647a.5.5 0 01.708.708l-3 3a.5.5 0 01-.708 0l-3-3a.5.5 0 010-.708z" clip-rule="evenodd"/>
                    <path fill-rule="evenodd" d="M8 2.5a.5.5 0 01.5.5v9a.5.5 0 01-1 0V3a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                  </svg></h3>
                 
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                  <hr style="border-color:black">
                </div>
                <a href="http://localhost:4200/cleaningprocess" class="btn btn-primary" style="margin-top: 5%; margin-left: 13%; background-color: black; color: rgba(31, 180, 122, 1); width: 200px;">Cleaning Process</a>
                <a href="http://localhost:4200/carwashprogram" class="btn btn-primary" style="margin-top: 5%; margin-left: 13%; margin-bottom: 15%; background-color: black; color: rgba(31, 180, 122, 1); width: 200px;">Car Wash Programs</a>
                
                
               
              </div>
            
        </div>
    </div>

</div>

