<div class="container-fluid" style="background-color: black;">
    <div class="row">
        <div class="col-md-12">
            <div class="demo-content" style="padding: 25px; text-align: center; color:rgba(31, 180, 122, 1);; font-size: 40px; background-color: black;">
                Our Team
            </div>
        </div>
    </div>
  </div>
  <div class="container-fluid">
     <div class="row">
       <div class="col-md-6" >
           <img src="../../assets/images/WhatsApp Image 2020-03-25 at 2.54.18 PM.jpeg" style="margin-left: 350px;">
       </div>
       <div class="col-md-6">
           <img src="../../assets/images/naveen1.jpeg" style="margin-left: 42px;">
       </div>
     </div>
  </div>
  
  
